<div class="container anchor showpagepic">
	<p id="notice"><%= notice %></p>
		<h4 class="titulo">
  		<%= @product.name %>
		</h4>
	<%= image_tag @product.image_url, class: "img-responsive bigshowpic" %>
	<div class="row">
		<div class="col-md-3">
			<h4>
				<span class="glyphicon glyphicon-usd" aria-hidden="true"><!--strong>Price: </strong></span-->
  			<%= @product.price.to_d/100 %>
  			<%#= form_tag "/payments/create" do %>
  				<%#= render partial: "shared/stripe_checkout_button" %>
				<%# end %>
			</h4>
		</div>
		<div class="col-md-3">
			<h4>
  			<%= @product.description %>
			</h4>
		</div>
		<div class="col-md-3">
			<h4>
				<%= @product.colour %>
			</h4>
		</div>
		<div class="col-md-3">
			<h4>
  			Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div>
  			<%= form_tag "/payments/create" do %>
  				<%= hidden_field_tag(:product_id, @product.id) %>
  				<%= render partial: "shared/stripe_checkout_button" %>
				<% end %>
			</h4>
		</div>
	</div>
</div>


<%= render 'new_comment' %>
<%= render 'comments' %>
<%#= render 'all_comments' %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>


