<!DOCTYPE html>
<html>
<head>
  <title>Sweatr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<!--body-->
	<body data-spy="scroll" data-target=".navbar">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
          data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="Home navbar-brand logoz">
            <%= link_to "SWEATR", products_path %>
          </div> <!--end projectName -->
        </div> <!--end navbar-header -->
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "About Us", static_pages_about_path %></li>
            <li><%= link_to "Contact Us", static_pages_contact_path %></li>
            <li><%= link_to "Products", products_path %></li>
            <li><%= form_tag("/products", class: "navbar-form navbar-right", method: "get") do %>
              <div class="form-group">
              <%#= label_tag(:q, "Search for:", class: "form-control") %>
              <%= text_field_tag(:q, nil, class: "form-control", placeholder: "Enter data here") %>
              </div>
              <%= submit_tag("Search", class: "btn btn-default") %>
            </li>
              <% end %>
            <li>
              <% if user_signed_in? %>
                <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
              <% else %>
                <%= link_to('Login', new_user_session_path) %>
              <% end %>
            </li>
          </ul>
        </div><!--nav-->
      </div><!--end nav container-->
    </nav> <!-- end navbar-->
  <!--p class="notice"><%#= notice %></p-->
  <% if notice %>
    <p id="notice" class="alert alert-info"><%= notice %></p>
  <% end %>
  <!--p class="alert"><%#= alert %></p-->
  <% if alert %>
    <p id="alert" class="alert alert-danger"><%= alert %></p>
  <% end %>    

  <div class="page-wrap">
  <%= yield %>
  </div><!--page-wrap-->
  <footer class="site-footer">
    <div class="copyright">
      &copy Sweatr 2016
    </div>
  </footer>
</body>
</html>
